.logimg {
  width: 100px !important;
  height: 50px !important;
}

body {
  overflow-x: hidden;
  background-color: #0b0c10 !important;
}

.text-lighta {
  color: #c5c6c7 !important;
}
.text-primarya {
  color: #8755f2 !important;
}
.text-primaryaa {
  color: #8755f2 !important;
}
.text-darka {
  color: #0b0c10 !important;
}
.text-darkaa {
  color: #1f2833 !important;
}
.bg-lighta {
  background-color: #c5c6c7 !important;
}
.bg-primarya {
  background-color: #8755f2 !important;
}
.bg-primaryaa {
  background-color: #8755f2 !important;
}
.bg-darka {
  background-color: #0b0c10 !important;
}
.bg-darkaa {
  background-color: #1f2833 !important;
}
body {
  margin: 0;
  padding: 0;
}

#tsparticless {
  height: 100% !important;
}

.sa {
}
.mynavitem {
  transition: 0.5s ease;
}
.paar {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.divco {
  width: 100% !important;
  height: 45vh;
  overflow: hidden;
  border-radius: 50%;
}
.divco img {
  width: 100% !important;
  height: 63vh;
}
.card1 {
  height: 99.5vh !important;
  overflow: hidden !important;
}
* {
  font-family: "Acme", sans-serif;
}
button:focus {
  box-shadow: none !important;
}
.d {
  font-size: 4.5vw !important;
}
.da {
  font-size: 30px !important;
}
.bg-primaryaaa {
  background: linear-gradient(
    180deg,
    rgb(24, 24, 24) 0%,
    rgba(0, 0, 0, 0.92) 110%
  );
  border: #8755f2 1px solid !important;
}
.navbar li {
  transition: 0.3s ease;
  border: #45a29d00 2px solid;
  border-radius: 15px;
}

.newcolor {
  color: #45a29e !important;
}
.sec2 {
  background-image: url("../src/media/Untitled\ design.png");
  height: min-content !important;
  background-size: cover;
  background-repeat: no-repeat;
}
.sec1 {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("https://wallpapertag.com/wallpaper/full/5/a/7/357682-plain-black-background-1920x1080-htc.jpg");
}
.sec3 {
  height: min-content !important;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("https://wallpapertag.com/wallpaper/full/5/a/7/357682-plain-black-background-1920x1080-htc.jpg");
}
.border-primarya {
  border: #8755f2 2px solid !important;
}
.absolute {
  position: absolute;
  top: 50%;
}
.progress {
  height: 0.7rem !important;
  background-color: #c5c6c7 !important;
}
.bg-primaryaaaa {
  background: linear-gradient(180deg, #8755f2 0%, #000000eb 120%);
}
.navbar {
  transition: 0.3s ease;
}
.bg-dangers {
  background-image: url(https://wallpapercave.com/wp/wp4063176.jpg);
  background-size: 100% 100%;
}
.dsa {
  height: 100vh !important;
}
.ds {
  font-size: 25px;
}
* {
  text-decoration: none !important;
}
.active li {
  background-color: #8755f2 !important;
  box-shadow: inset 0px 0px 5px black;
}
.mcard {
  padding: 1px;
  transition: 0.1s, background-position 0.1s 0.1s;
  max-height: min-content !important;
  min-height: 360px !important;
}
.mcard::-webkit-scrollbar {
  display: none;
}
.mcard:hover {
  transition: 0.5s, background-size 0.3s 0.3s;
  transform: translateY(-5px);
}
.h-x {
  width: 100%;
  height: 100% !important;
}
.card2 {
  height: 550px !important;
  overflow: hidden;
}
.canva {
  height: 900vh;
  position: fixed;
  z-index: 1;
}
.myz {
  position: relative !important;
  z-index: 10 !important;
}
.myz li,
button,
i,
Link,
.mcard,
input,
form,
a {
  pointer-events: all;
  cursor: pointer;
}
.card p {
  pointer-events: none;
}
.absbutton {
  position: fixed;
  bottom: 5vh;
  right: 3vw;
  font-size: 2.5vw;
  transition: 0.5s ease;
}
.card-cont {
  height: 27vh;
  overflow-y: scroll;
}
.card-cont img {
  height: auto;
  transition: 5.5s ease;
  width: 100%;
}

.dsw {
  height: min-content !important;
}
.dsw img {
  height: max-content !important;
}
@media screen and (max-width: 800px) {
  .d {
    font-size: 14vw !important;
  }
  .mcard {
    min-height: min-content !important;
    max-height: min-content !important;
  }
  .card1 {
    height: 120vh !important;
    overflow: hidden !important;
  }
  .da {
    font-size: 4vw !important;
  }
  .logimg {
    width: 80px !important;
    height: 40px !important;
  }
  .ds {
    font-size: 20px;
  }
  .mr {
    pointer-events: all;
  }
  .absbutton {
    position: fixed;
    bottom: 5vh;
    right: 4vw;
    font-size: 10.5vw;
  }
  .sec2 {
    background-image: url("../src/media/Untitled\ design.png");
  }
}
.divs {
  height: 100vh !important;
  width: 100vw !important;
  position: relative;
  z-index: 2;
}
.dna-wrapper {
  margin: 0px !important;
  position: relative;
  z-index: 2;
}
* {
  scroll-behavior: smooth;
}
.xd {
  position: absolute;
  top: -10%;
}
.swqe,
.swqe .card,
.swqe div {
  pointer-events: all !important;
}
.swqe .card {
  transform: translateY(-25px);
}
.animate1 {
  bottom: -10vh;
}
.animate2 {
  bottom: 5vh;
}
.mbut {
  border: 2px solid #8755f2 !important;
  color: aliceblue !important;
  border-radius: 50% !important;
  transition: 0.5s ease !important;
}
.mbut:hover {
  border-radius: 50% !important;
  transform: scale(1.05);
  background-color: #8755f2 !important;
}
.imgheight {
  height: 50vh !important;
  width: 100%;
}
.vh- {
  height: 70vh !important;
}
.custom {
  transform: translateY(5px);
}
.custom button {
  background-color: #8755f200 !important;
  border: 1px solid #1f2833 !important;
  border-radius: 30% !important;
}
.react-multi-carousel-dot--active button {
  background-color: #8755f2 !important;
}
.absolute {
  position: absolute !important;
}

.inline-block {
  display: inline-block;
}

.loader {
  position: absolute !important;
  top: 46% !important;
  text-align: center !important;
}

.w-2 {
  width: 0.5em;
}

.dash {
  animation: dashArray 2s ease-in-out infinite, dashOffset 2s linear infinite;
}

.spin {
  animation: spinDashArray 2s ease-in-out infinite, spin 8s ease-in-out infinite,
    dashOffset 2s linear infinite;
  transform-origin: center;
}

@keyframes dashArray {
  0% {
    stroke-dasharray: 0 1 359 0;
  }

  50% {
    stroke-dasharray: 0 359 1 0;
  }

  100% {
    stroke-dasharray: 359 1 0 0;
  }
}

@keyframes spinDashArray {
  0% {
    stroke-dasharray: 0 360;
  }

  50% {
    stroke-dasharray: 200 360;
  }

  100% {
    stroke-dasharray: 0 360;
  }
}

@keyframes dashOffset {
  0% {
    stroke-dashoffset: 365;
  }

  100% {
    stroke-dashoffset: 5;
  }
}

@keyframes spin {
  0% {
    rotate: 0deg;
  }

  12.5%,
  25% {
    rotate: 270deg;
  }

  37.5%,
  50% {
    rotate: 540deg;
  }

  62.5%,
  75% {
    rotate: 810deg;
  }

  87.5%,
  100% {
    rotate: 1080deg;
  }
}
::-webkit-scrollbar {
  background-color: #0b0c10 !important;
}
::-webkit-scrollbar-thumb {
  background-color: #8755f2 !important;
  border-radius: 2px;
}
.card-cont::-webkit-scrollbar {
  width: 6px !important;
}
.fw-lighta {
  font-family: calibri light !important;
}
.h-1000 {
  height: max-content !important;
}
